@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 5%;

        --card: 0 0% 99.5%;
        --card-foreground: 0 0% 5%;

        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 5%;

        --primary: 0 0% 0%;
        --primary-foreground: 0 0% 100%;

        --secondary: 0 0% 87.5%;
        --secondary-foreground: 0 0% 0%;

        --muted: 0 0% 96%;
        --muted-foreground: 0 0% 47%;

        --accent: 0 0% 96%;
        --accent-foreground: 0 0% 11%;

        --destructive: 0 85% 60%;
        --destructive-foreground: 0 0% 100%;

        --border: 0 0% 91.5%;
        --input: 0 0% 91.5%;
        --ring: 0 0% 0%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 3%;
        --foreground: 0 0% 100%;

        --card: 0 0% 5%;
        --card-foreground: 0 0% 98%;

        --popover: 0 0% 4.9%;
        --popover-foreground: 0 0% 100%;

        --primary: 0 0% 100%;
        --primary-foreground: 0 0% 0%;

        --secondary: 0 0% 17.5%;
        --secondary-foreground: 0 0% 100%;

        --muted: 0 0% 17.5%;
        --muted-foreground: 0 0% 65%;

        --accent: 0 0% 17.5%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 65% 50%;
        --destructive-foreground: 0 0% 100%;

        --border: 0 0% 17.5%;
        --input: 0 0% 17.5%;
        --ring: 0 0% 100%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
    ::selection {
        @apply bg-foreground text-background;
    }
}
